<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ComfoBoxLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ComfoBoxLib.Properties.Settings>
            <setting name="Baudrate" serializeAs="String">
                <value>76800</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="BacnetClientId" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BacnetMasterId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MqttNoResponseTimeout" serializeAs="String">
                <value>00:00:30</value>
            </setting>
            <setting name="ExpertMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxNumberOfWritesPer24h" serializeAs="String">
                <value>100</value>
            </setting>
        </ComfoBoxLib.Properties.Settings>
    </applicationSettings>
</configuration>