<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ComfoBoxMqtt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ComfoBoxMqtt.Properties.Settings>
            <setting name="UseMqttRetain" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MqttQoS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrimaryStatesRefreshRate" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="SecondaryStatesRefreshRate" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="PrimaryConfigStatesRefreshRate" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="SecondaryConfigStatesRefresh" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="BaseTopic" serializeAs="String">
                <value>ComfoBox</value>
            </setting>
        </ComfoBoxMqtt.Properties.Settings>
    </applicationSettings>
</configuration>